body{
	font-family: 'Montserrat', sans-serif;
}
/*styles for the aside settings nav*/
#settings-nav{
	/*background-color: red;*/
	float: left;
	width: 15%;
	border-right: 1px solid black;
}
#settings-nav ul{
	list-style-type: none;
	padding: 0;
	margin-left: 7%;
}
#settings-nav ul li{
	margin-bottom: 10px;
}
/*styles for form*/
#main-settings-form{
	margin-left: 30%;
	margin-top: 100px;
}
#main-settings-form input, #main-settings-form label, #main-settings-form img{
	margin-bottom: 20px;
}
/*styles for profile picture upload*/
#main-settings-form input[name = 'thumbnail']{
	display: none;
}
#main-settings-form input[name = 'thumbnail']:hover{
	cursor: pointer;
}
#main-settings-form img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
#img-delete-btn{
	border: none;
	outline: none;
	background-color: rgb(210, 0, 3);
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	border-radius: 5px; 
	padding: 5px;
}
#img-delete-btn:hover{
	cursor: pointer;
}
#file-upload-lable{
	display: inline-block;
	color: white;
	background-color: rgb(0, 121, 211);
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	border-radius: 5px; 
	padding: 5px;
	cursor: pointer;
}
#img-edit-div{
	margin-left: 20%;
}
#img-btn-div{
	/*alig thee buttons more over centrally under the img*/
	margin-left: 0.7%;
}
#error-msg{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin-top: 0;
	margin-left: -50px;
	background-color: #ff7a7a;
	padding: 10px;
	border-radius: 5px;
}
/*styles for username change*/
#change-username{
	display: block;
	margin-top: 10px;
	width: 40%;
	font-size: 20px;
	padding: 10px;
}
.settings-info{
	font-size: 10px;
	font-weight: lighter;
	color: gray;
}
/*save btn styles*/
#submit-btn{
	border: none;
	background-color: rgb(0, 121, 211);
	padding: 7px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 15px;
	cursor: pointer;
}
/*link styles*/
a{
	text-decoration: none;
	color: black;
}
a:visited {
    color: black;
}
a:hover {
    cursor: pointer;
    color: #33a8ff;
}
a:active {
    color: black;
}