*{
	font-family: 'Montserrat', sans-serif;
}
body{
	margin: 0;
	height: 100%;
	padding: 0;
}
#upload-form{
	margin-top: 100px
}
form{
	width: 30%;
	margin-left: 37.5%;
}
form label,	input[type = 'submit'] {
	display: block;
}
form label{
	margin-bottom: 20px;
	text-align: center;
	font-weight: 500;
	letter-spacing: 4px;
	font-size: 20px;
}
form input[type = 'text']{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	border: 1px solid #000;
	outline: none;
	height: 50px;
	margin-bottom: 20px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Archivo', sans-serif;
	text-align: center;
}
input[type = 'submit']{
	border: none;
	background-color: rgb(0, 121, 211);
	padding: 7px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 15px;
	cursor: pointer;
}
form textarea{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	font-size: 15px;
	resize: none;
	margin-bottom: 20px;
	font-family: 'Quicksand', sans-serif;
	border: 1px solid #000;
	outline: none;
}
/*styles for success message*/
#success-message{
	display: inline-block;
	background-color: #23c100;
	padding: 10px;
	font-size: 15px;
	margin-top: 0;
}
/* styles for err message */
#error-message{
	display: inline-block;
	background-color: #ff1133;
	padding: 10px;
	font-size: 15px;
	margin-top: 0;
}